#logo {
  height: 50px;
}

body {
  /* display grid */
  display: grid;
  place-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px #ddd;
  margin: 20px;
}

#form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0c14b;
  cursor: pointer;
}

#form button:hover {
  background-color: #f0c14b;
}
